pytorch=1.12.1=py3.7_cuda11.6_cudnn8_0
pytorch-mutex=1.0=cuda
streamlit=1.14.0=pypi_0
pandas=1.3.5=pypi_0
transformers=4.24.0.dev0=pypi_0
evaluate=0.3.0=pypi_0
datasets=2.6.1=pypi_0
numpy=1.21.6=py37h2830a78_0
gensim=3.8.3=pypi_0
spacy=3.4.2=pypi_0
spacy-legacy=3.0.10=pypi_0
spacy-loggers=1.0.3=pypi_0
pysummarization=1.1.9=pypi_0
regex=2022.9.13=pypi_0
bert-extractive-summarizer=0.10.1=pypi_0
